<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Left: Logo and App Name -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/images/centum logo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2" />
      <span>Centum App</span>
    </a>
    <!-- Center: Navigation Links -->
    <div class="mx-auto">
      <ul class="navbar-nav flex-row gap-3">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My profile</a>
        </li>
      </ul>
    </div>
    <!-- Right: Dropdown -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{#if user}}
        <i class="fas fa-user-circle mr-1"></i>{{user.LastName}}
        {{else}}
        <i class="fas fa-user mr-1"></i>Account
        {{/if}}
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        {{#if user}}
        {{else}}
        <li><a class="dropdown-item" href="/signup">Signup</a></li>
        <li><a class="dropdown-item" href="/login">Login</a></li>
        {{/if}}
        <li>
          <hr class="dropdown-divider">
        </li>
        {{#if user}}
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<!-- Note: Place your logo image at public/images/logo.png -->